/*Fonts*/
:root {
  --main-bg: #ffffff;
  --red: #e41d13;
  --yellow: #fdc300;
  --orange: #e8520b;
  --light-green: #6DB339; 
  --green: #20a638;
  --dark-green: #005120;
  --purple: #9d129f;
  --dark-purple: #5A2B73;
  --dark-gray: #303134;
  --medium-gray: #696969;
  --light-gray: #949494;
  --text: #222222;

  --default-font: "Inter", sans-serif; /*Note and Settings Text*/
  --font-monospace: "FiraCode Nerd Font", "Source Code Pro", monospace; /*Code block text*/
}

/*Dark Theme Variables*/
.theme-dark {
  --background-modifier-cover: rgba(0, 0, 0, 0.8); /*Obsidian Title Bar Bg*/
  --background-primary: var(--dark-gray); /*Note background*/
  --background-primary-alt: var(--dark-purple); /*Note Title background active*/
  --background-secondary: var(--dark-gray); /*Sidebar background*/
  --background-secondary-alt: var(--dark-purple); /*Sidebar Title background*/
  --background-modifier-border: var(--dark-purple); /*Border outline of quotes, tables, line breaks*/
  
  --text-normal: var(--main-bg); /*Text body of note*/
  --text-muted: var(--light-gray); /*Text darker for sidebar, toggles, inactive, tags, etc*/
  --text-accent: var(--yellow); /*Links*/
  --text-accent-hover: var(--orange); /*Links hover*/
  --text-faint: var(--light-gray); /*Link brackets color & Gutter Numbers*/
  --text-error: var(--red);
  --text-error-hover: var(--red);
  --text-highlight-bg: var(--green); /*Search Matches*/
  --text-highlight-bg-active: var(--light-green); /*Active Search Match (Preview Mode)*/
  --text-selection: var(--green); /*Text Selections*/

  --interactive-normal: var(--purple); /*Button Color*/
  --interactive-hover: var(--dark-purple); /*Button Hovered Color*/
  --interactive-accent: var(--purple); /*Workspace Note Title Underline*/
  --interactive-accent-hover: var(--dark-purple); /*Menu Button Hover*/
  
  --scrollbar-bg: rgba(0, 0, 0, 0.05); /*Scrollbar Gutter Background*/
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1); /*Scrollbar Color*/
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2); /*Scrollbar Dragged Color*/
  --highlight-mix-blend-mode: darken;
}

.theme-light {
    --background-primary: var(--main-bg); /*Note background*/
    --background-primary-alt: #f2f3f5; /*Note Title background active*/
    --background-secondary: var(--main-bg); /*Sidebar background*/
    --background-secondary-alt: var(--light-green); /*Sidebar Title background*/
    
    --background-modifier-border: var(--light-green); /*Border outline of quotes, tables, line breaks*/

    --text-normal: var(--text); /*Text body of note*/
    --text-muted: var(--medium-gray); /*Text darker for sidebar, toggles, inactive, tags, etc*/
    --text-accent: var(--orange); /*Links*/
    --text-accent-hover: var(--orange); /*Links hover*/
    --text-faint: var(--dark-green); /*Link brackets color*/

    --text-highlight-bg: var(--yellow); /*Search Matches*/
    --text-highlight-bg-active:var(--orange); /*Active Search Match (Preview Mode)*/
    --text-selection: var(--light-gray); /*Text Selections*/
    
    --interactive-normal: #f2f3f5; /*Button background Color*/
    --interactive-hover: var(--dark-purple); /*Button Hovered Color*/
    --interactive-accent: var(--purple); /*Workspace Note Title Underline*/
    --interactive-accent-hover: var(--dark-purple); /*Menu Button Hover*/
    
    --scrollbar-bg: var(--main-bg); /*Scrollbar Gutter Background*/
    --scrollbar-thumb-bg: var(--light-green); /*Scrollbar Color*/
    --scrollbar-active-thumb-bg: var(--green); /*Scrollbar Dragged Color*/
}

/*----Notes----*/
.markdown-source-view {
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/*Strikethrough*/
.cm-strikethrough { color: var(--red) } /*Editing View*/
del { color: var(--red) } /*Reading View*/

/*--Horizontal Line--*/
.theme-dark hr { border-color: var(--yellow) } /*Reading Mode*/
.theme-dark .hr.cm-line { border-color: var(--yellow) } /*Source Mode*/
.theme-dark .HyperMD-hr-bg { border-color: var(--yellow) } /*Source Mode*/

/*HR Line Text*/
.theme-dark .cm-s-obsidian pre.HyperMD-hr { border-color: var(--yellow) } /*Source Mode*/

/*Inline Code*/
.cm-s-obsidian span.cm-inline-code {
  color: var(--dark-green);
}
.theme-dark .cm-s-obsidian span.cm-inline-code {
  color: var(--main-bg);
}

/*--Graph--*/

.graph-view.color-fill {
	color: var(--text-muted); /*color of nodes*/
}
.graph-view.color-fill-focused { /*color of focused node/note*/
	color: var(--yellow);
}
.theme-dark .graph-view.color-fill-tag { /*dark mode tag color*/
	color: var(--color-orange);
}
.theme-light .graph-view.color-fill-tag { /*light mode tag color*/
	color: var(--color-orange);
}
.theme-dark .graph-view.color-fill-attachment { /*dark mode attachment color*/
	color: var(--dark-green);
}
.theme-light .graph-view.color-fill-attachment { /*light mode attachment color*/
	color: var(--light-green);
}
.graph-view.color-fill-unresolved { /*unresolved(not created yet) notes*/
	color: var(--text-muted);
	opacity: 0.4;
}
.graph-view.color-arrow { /*arrow color*/
	color: var(--text-normal);
	opacity: 0.5;
}
.graph-view.color-circle { /*focused node border color*/
	color: var(--text-normal);
}
.graph-view.color-line { /*link color*/
	color: var(--background-modifier-border);
}
.graph-view.color-text { /*text color*/
	color: var(--text-normal);
}
.graph-view.color-fill-highlight { /*focused node color*/
	color: var(--interactive-accent);
}
.graph-view.color-line-highlight { /*focused node connections*/
	color: var(--interactive-accent);
}